@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-alpha.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/violet-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 100px;
  --font-mono: 'Roboto Mono';
  --sidebar-width: 280px;
  --sidebar-anchor-padding-left: 25px;
  --sidebar-anchor-padding-right: 25px;
  --sidebar-title-padding-left: 25px;
  --sidebar-title-padding-right: 25px;

  --accent-1: var(--violet-1);
  --accent-2: var(--violet-2);
  --accent-3: var(--violet-3);
  --accent-4: var(--violet-4);
  --accent-5: var(--violet-5);
  --accent-6: var(--violet-6);
  --accent-7: var(--violet-7);
  --accent-8: var(--violet-8);
  --accent-9: var(--violet-9);
  --accent-10: var(--violet-10);
  --accent-11: var(--violet-11);
  --accent-12: var(--violet-12);

  --accent-a1: var(--violet-a1);
  --accent-a2: var(--violet-a2);
  --accent-a3: var(--violet-a3);
  --accent-a4: var(--violet-a4);
  --accent-a5: var(--violet-a5);
  --accent-a6: var(--violet-a6);
  --accent-a7: var(--violet-a7);
  --accent-a8: var(--violet-a8);
  --accent-a9: var(--violet-a9);
  --accent-a10: var(--violet-a10);
  --accent-a11: var(--violet-a11);
  --accent-a12: var(--violet-a12);

  --sidebar-active-link-text-color: var(--iris-12);
  --code-highlight-bg-color: hsl(261.43deg 8.54% 22.81% / 61%);
  --code-highlight-border-color: var(--accent-8);
  --pre-tabs-active-border-color: var(--accent-8);
}

html.dark {
  --accent-1: var(--violet-1);
  --accent-2: var(--violet-2);
  --accent-3: var(--violet-3);
  --accent-4: var(--violet-4);
  --accent-5: var(--violet-5);
  --accent-6: var(--violet-6);
  --accent-7: var(--violet-7);
  --accent-8: var(--violet-8);
  --accent-9: var(--violet-9);
  --accent-10: var(--violet-10);
  --accent-11: var(--violet-11);
  --accent-12: var(--violet-12);

  --accent-a1: var(--violet-a1);
  --accent-a2: var(--violet-a2);
  --accent-a3: var(--violet-a3);
  --accent-a4: var(--violet-a4);
  --accent-a5: var(--violet-a5);
  --accent-a6: var(--violet-a6);
  --accent-a7: var(--violet-a7);
  --accent-a8: var(--violet-a8);
  --accent-a9: var(--violet-a9);
  --accent-a10: var(--violet-a10);
  --accent-a11: var(--violet-a11);
  --accent-a12: var(--violet-a12);
}

.docs_sidebar_container nav {
  padding-left: 0;
  padding-right: 0;
}

.sidebar_section_item a {
  border-radius: 0;
}

.markdown pre span[style='color: #545454;'] {
  color: var(--code-comment-color) !important;
}

.markdown .badge {
  background-color: var(--neutral-gray-5);
  border-radius: 9999px;
  font-size: 14px;
  top: -2px;
  padding: 2px 8px;
  position: relative;
  margin-left: 7px;
}

.toc_container .badge {
  display: none;
}

.markdown h1 .badge {
  top: -6px;
  font-size: 14px;
}

.table_container + blockquote {
  border: 1px solid var(--prose-table-border-color);
  margin-top: -25px;
  text-align: center;
  font-size: 13px;
  padding: 2px 0;
  background-color: var(--mauve-4);
}

.table_container + blockquote *:last-child {
  margin: 0;
}

.disclosure_wrapper {
  border-radius: var(--rounded-md);
  margin: var(--prose-elements-margin) 0;
  background-color: var(--disclosure-wrapper-bg-color);
  border: 1px solid var(--disclosure-wrapper-border-color);
}

.disclosure_wrapper .disclosure {
  border-radius: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--disclosure-wrapper-border-color);
  background: transparent;
}

.disclosure_wrapper .disclosure_panel {
  border-radius: 0;
}

.disclosure_wrapper .disclosure:last-child {
  border-bottom: none;
}

.disclosure_wrapper .disclosure:last-child .disclosure_panel {
  border-radius: 0 0 7px 7px;
}

@media (min-width: 1440px) {
  .markdown .table_expanded {
    max-width: 120%;
    width: 120%;
  }
}

.dark_mode {
  display: none;
}
.dark .dark_mode {
  display: block;
}
.dark .light_mode {
  display: none;
}
