@import 'unpoly';
@import '@docsearch/css';

/* Gray colors */
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-alpha.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mauve-dark-alpha.css';

/* Accent colors */
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-alpha.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/violet-dark-alpha.css';

/* Interface colors */
@import '@radix-ui/colors/orange-alpha.css';
@import '@radix-ui/colors/iris-alpha.css';
@import '@radix-ui/colors/orange-dark-alpha.css';
@import '@radix-ui/colors/iris-dark-alpha.css';

@import '@dimerapp/docs-theme/styles';
@import './cards.css';
@import './login.css';
@import './updates.css';

:root {
  --logo-width: 100px;
  --font-mono: 'Roboto Mono';

  --note-icon-color: var(--violet-11);
  --code-bg-color: var(--violet-a3);
  --code-text-color: var(--violet-a12);
  --sidebar-active-link-bg-color: var(--violet-a6);
  --sidebar-active-link-text-color: var(--violet-12);
  --sidebar-loading-link-bg-color: var(--violet-a3);
  --aside-active-link-text-color: var(--violet-11);
  --pre-tabs-active-border-color: var(--violet-10);

  --disclosure-wrapper-bg-color: var(--mauve-a3);
  --disclosure-wrapper-border-color: var(--mauve-6);
}

html.dark {
  --note-icon-color: var(--violet-11);
  --code-bg-color: var(--violet-a3);
  --code-text-color: var(--violet-a12);
  --pre-title-border-color: var(--mauve-a3);
  --sidebar-active-link-text-color: var(--violet-12);
  --sidebar-active-link-bg-color: var(--violet-a5);
  --sidebar-loading-link-bg-color: var(--violet-a7);
  --aside-active-link-text-color: var(--violet-11);
  --pre-tabs-active-border-color: var(--violet-a10);

  --disclosure-wrapper-bg-color: var(--mauve-3);
  --disclosure-wrapper-border-color: var(--mauve-5);
}

.markdown pre span[style="color: #545454;"] {
  color: var(--code-comment-color) !important;
}

.markdown .badge {
  background-color: var(--violet-5);
  color: var(--violet-11);
  border-radius: 10px;
  font-size: 12px;
  top: -2px;
  padding: 3px 8px;
  position: relative;
  margin-left: 7px;
}

.toc_container .badge {
  display: none;
}

.markdown h1 .badge {
  top: -6px;
  font-size: 14px;
}

.table_container + blockquote {
  border: 1px solid var(--prose-table-border-color);
  margin-top: -25px;
  text-align: center;
  font-size: 13px;
  padding: 2px 0;
  background-color: var(--mauve-4);
}

.table_container + blockquote *:last-child {
  margin: 0;
}

.markdown .table_container {
  margin: var(--prose-elements-margin) 0;
}

.markdown table {
  margin: 0;
  --code-font-size: var(--prose-table-font-size);
}

.disclosure_wrapper {
  border-radius: var(--rounded-md);
  margin: var(--prose-elements-margin) 0;
  background-color: var(--disclosure-wrapper-bg-color);
  border: 1px solid var(--disclosure-wrapper-border-color);
}

.disclosure_wrapper .disclosure {
  border-radius: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--disclosure-wrapper-border-color);
  background: transparent;
}

.disclosure_wrapper .disclosure_panel {
  border-radius: 0;
}

.disclosure_wrapper .disclosure:last-child {
  border-bottom: none;
}

.disclosure_wrapper .disclosure:last-child .disclosure_panel {
  border-radius: 0 0 7px 7px;
}
