@import 'unpoly';
@import '@docsearch/css';
@import '@dimerapp/docs-theme/styles';

:root {
  --logo-width: 100px;
  --font-mono: 'Roboto Mono';
}

.login_wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.login_strip {
  background: var(--mauve4);
  flex: 1;
}

.login_message {
  height: 100%;
  max-width: 680px;
  display: flex;
  justify-content: center;
  padding: 128px 64px;
}

.login_message .logo_wrapper {
  margin-bottom: 30px;
}

.login_message .logo_wrapper svg {
  height: 50px;
}

.login_message .login_header h2 {
  font-size: 42px;
  font-weight: 600;
}

.login_message .login_header p {
  line-height: 1.6;
  font-size: 18px;
  margin-top: 20px;
}

.login_message .button.primary {
  display: block;
  margin-top: 30px;
  background-color: var(--violet10);
  color: var(--violet1);
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
}

html.dark .login_message .button.primary {
  background-color: var(--violet6);
  color: var(--violet12);
}

.login_message .document_errors_item {
  line-height: 1.4;
}

.login_message .document_errors_item a {
  text-decoration: underline;
}
