.updates_timeline {
  margin-top: var(--prose-section-margin-top);
}

.timeline_item {
  display: flex;
  align-items: baseline;
  position: relative;
}

.timeline_item_time {
  text-align: right;
  width: 8rem;
  padding-top: 20px;
  padding-right: 28px;
}

.timeline_item time {
  font-size: 14px;
  color: var(--mauve-11);
}

.timeline_item_content {
  flex: 1;
  padding: 20px 10px;
  margin: 0 20px;
}

.timeline_item:before {
  content: '';
  bottom: 0;
  left: 8rem;
  position: absolute;
  top: 0;
  width: 1px;
  background-color: var(--prose-h2-border-color);
}

.timeline_item_content h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -33.5px;
  margin-top: 6px;
  background-color: var(--mauve-8);
  border-radius: 9999px;
}

.updates_timeline_paginator {
  text-align: right;
  border-top: 1px solid var(--prose-h2-border-color);
  padding: 10px 10px 10px 0;
}

.updates_timeline_paginator a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding: 6px 14px;
  background-color: var(--violet-11);
  color: var(--violet-1);
  border-radius: var(--rounded-md);
  transition: background-color 300ms ease-in-out, color 100ms ease-in-out;
}

.updates_timeline_paginator a:hover {
  background-color: var(--violet-a9);
}

.markdown .updates_timeline + h2 {
  margin-top: 0;
}
