<div class="content_sponsor">
  <p class="label"> Sponsored </p>
  <div>
    <div>
      <p>
        Share your testimonials as videos, images, and widgets without code
      </p>
      <p>
        <a href="">Signup free for Senja →</a>
      </p>
    </div>
    <div>
      <a href="">
        <img src="https://pika.style/partners/senja.png">
      </a>
    </div>
  </div>
</div>
