<a href="" class="sidebar_sponsor">
  <span class="sidebar_sponsor_logo">
    <img src="https://cdn.devdojo.com/sponsors/digital-ocean.svg" style="height: 22px;">
  </span>
  <span class="sidebar_sponsor_about">
    The best reliable cloud hosting solution.
  </span>
  <span class="sidebar_sponsor_action">
    <span class="">View DigitalOcean Website</span>
  </span>
</a>
